/*
 *@description Webpack配置文件
 *@author: <%= author %>
 *@email: <%= email %>
 *@time: <%= time %>
 */

var webpack = require("webpack");
var path = require('path');

var ROOT_PATH = path.resolve(__dirname);

var config = {
    entry: {<% if (hasLibs) { %>
        vendors: [<% } %><% if (hammerjs) { %>
        "hammerjs",<% } %><% if (jquery) { %>
        "jquery",<% } %><% if (lodash) { %>
        "lodash",<% } %><% if (mustache) { %>
        "mustache"<% } %><% if (hasLibs) { %>
        ]<% } %>
    },
    output: {
        path: '',
        filename: '[name].js'
    },
    module: {
        /*Loader can be passed query parameters via a query string (just like in the web).
         *The query string is appended to the loader with ?.
         *i.e. url-loader?mimetype=image/png.
         */
        loaders: [{
            test: /\.js$/,
            exclude: /node_modules/,
            include: path.resolve(ROOT_PATH, 'app/javascript'),
            loaders: ['babel-loader?cacheDirectory']
        }]
    },
    plugins: [
        <% if (hasLibs) { %>
        new webpack.optimize.CommonsChunkPlugin({
            name: 'vendors'
        })<% } %><% if (jquery) { %>,
        new webpack.ProvidePlugin({
            $: 'jquery',
            jQuery: 'jquery',
            'window.jQuery': 'jquery',
            'window.$': 'jquery',
        })
        <% } %>
    ]
};

module.exports = config;
