<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no">
  <title><%= name %></title>
  <link rel="stylesheet" href="//res.suning.cn/public/v5/common/2.0.0/m-common.css">
  <!-- inject:css -->
  <!-- endinject -->
</head>

<body>
  demo
  <script src="//res.suning.cn/public/v5/??js/zepto/1.1.4/app.js<% if (geo) { %>,mod/geo/2.0.0/geo.js<% } %><% if (geo) { %>,mod/swipe/1.1.0/swipe.js<% } %>"></script>
  <!-- inject:vendors:js -->
  <!-- endinject -->
  <!-- inject:js -->
  <!-- endinject -->
</body>

</html>
